body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF; /* Hintergrund weiß */
    color: #333;
    text-align: center;
}

header {
    background-color: #FFFFFF;
    padding: 20px 0;
}

header h1 {
    color: rgb(166, 0, 0); /* Rot für das Header-h1 */
}

main h1 {
    color: rgb(166, 0, 0); /* Schwarz für das h1 im Main */
}

footer {
    background-color: #f1f1f1; /* Dezentes, helles Grau */
    padding: 20px;
    text-align: center;
    font-size: 0.9em; /* Kleinere Schriftgröße */
    color: #666; /* Dezente Schriftfarbe */
    border-top: 1px solid #ddd; /* Leichter oberer Rand für Trennung */
}

footer a {
    color: #666; /* Gleiche Farbe wie der Text, für ein dezentes Erscheinungsbild */
    text-decoration: none; /* Kein Unterstreichen der Links */
}

footer a:hover {
    color: #333; /* Dunklere Farbe bei Hover */
}

.logo {
    margin-top: 100px;
    margin-bottom: 0;
    max-width: 150px;
    height: auto;
}

.headbanner {
    max-width: 95%;
    max-height: 200px;
    height: auto;
    margin-top: 100px;
    margin-bottom: 50px;
    object-fit: cover;
}

main {
    padding: 20px;
}

p {
    font-size: 1.2em;
    line-height: 1.6;
    margin: 0 auto;
    max-width: 600px;
    text-align: left;
}
